    body{
        background-color: bisque;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
    .description{
        background-color: whitesmoke;
        width: 50%;
        border-radius: 1rem;
        padding: 0.5rem;  
        border: 2px solid rgba(0, 0, 0,0.1); 
    }
*{
    background-color: azure;
}